@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


/*reset em todos os estilos já prontos por padrão*/
body, h1, h2, p, ul, li, a{
    margin:0px;
    padding: 0px;
}

/* fonte da página */
body{
    font-family: 'Exo', sans-serif;
}

/* border box para que os conteudos fiquem dentro de um box, ex, p, h1, etc */
*{
    box-sizing: border-box;
}

/* display block (descer junto com o browser) e max widht, diminui de acordo com o display */
img{
    display: block;
    max-width: 100%;
}

/* ------------------------HEADER-------------------------------------------- */


/* background do header */
.header-bg{
    background:#F5F5F5;
}

.container-header{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#logo{
  max-width: 10em;
  margin: 0 2px;
}

/* remover o estiulo de lista, com pontos na frente */
.item-menu-nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item-menu-nav a{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color:#313131;
    display: block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.item-menu-nav a:hover{
    color:#3168B0;
    border-bottom: .5px dotted #3168B0;
    padding: 10px 15px;
}


/* ------------------------INTRO DO SITE-------------------------------------------- */

.bg-top-container{
  background-color:
  #3168B0;

}

/* --------------------TEXTO DE EXPLICAÇÃO SOBRE A PÁGINA----------------------------- */


.page-introduction{
    color:white;
    font-size:3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}


/*--------------------- LOCAL ONDE SE BUSCA OS DOIS POKEMONS PARA COMPARÁ-LOS-------------*/

.container-comparison{
    border-top: 2px solid #b6b6b6;
    border-bottom: 2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item-comparison{
    padding: 6px; */
    flex: 1 1 300px;
    align-content: center;
    background: rgb(238, 107, 47);
    border-radius: 1em;
    width: 19em;
    height: 26em;
    margin: 1em 1em 1em 1em;
    
}


.item-comparison #comparison-poke1{
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 0.5em;
}
.item-comparison #btn-comparison-poke1{
    flex:1;
    margin-top: 1em;
    cursor: pointer;
    background-color:white;
    color: blue;
    border: none;
    border-radius: 16px;
    padding: 1em;
    font-family: Exo, sans-serif;
    font-size: 1em;
    font-weight: 700;
   transition: all 0.3s ease-in-out 0s;   

}

.item-comparison #btn-comparison-poke1:hover{
    background-color: rgb(185, 185, 216);
    scale: .5px;
}

.item-comparison #comparison-poke2{
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 0.5em;
}

.item-comparison #btn-comparison-poke2{
    flex:1;
    margin-top: 1em;
    cursor: pointer;
    background-color:white;
    color: blue;
    border: none;
    border-radius: 16px;
    padding: 1em;
    font-family: Exo, sans-serif;
    font-size: 1em;
    font-weight: 700;
   transition: all 0.3s ease-in-out 0s;    
}

.item-comparison #btn-comparison-poke2:hover{
    background-color: rgb(185, 185, 216);
    scale: .5px;
}

/* ------------------------------------CONTAINER-BOTÃO DE RESULTADO------------------- */

.container-btn-result{
    border-top: 2px solid #b6b6b6;
    border-bottom: 2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item-btn-result #btn-result{
    flex:1;
    margin-top: 1em;
    cursor: pointer;
    background-color:white;
    color: blue;
    border: none;
    border-radius: 16px;
    padding: 1em;
    font-family: Exo, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;   

}

.item-btn-result #btn-result:hover{
    background-color: rgb(74, 74, 119);
    color:white;
    scale: .5px;
}
/* ---------------------------------ONDE APARECE O RESULTADO---------------------- */

.container-result-comparison{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #ffb491;
    border-top:2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0;
    height: 22em;

}

#item-result-comparison{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* -------------------------------------FOOTER---------------------------------------------------- */

footer{
    margin-top: 4em;
    padding: 33px;
    text-align: center;
    background: #2e2e2e;
}


footer p{
    color:white;
}