@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


/*reset em todos os estilos já prontos por padrão*/
body, h1, h2, p, ul, li, a{
    margin:0px;
    padding: 0px;
}

/* fonte da página */
body{
    font-family: 'Exo', sans-serif;
}

/* border box para que os conteudos fiquem dentro de um box, ex, p, h1, etc */
*{
    box-sizing: border-box;
}

/* display block (descer junto com o browser) e max widht, diminui de acordo com o display */
img{
    display: block;
    max-width: 100%;
}

/* ------------------------HEADER-------------------------------------------- */


/* background do topo */


.header-bg{
    background:#F5F5F5;
}

.container-header{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#logo{
  max-width: 10em;
  margin: 0 2px;
}

/* remover o estiulo de lista, com pontos na frente */
.item-menu-nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.item-menu-nav a{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color:#313131;
    display: block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.item-menu-nav a:hover{
    color:#3168B0;
    border-bottom: .5px dotted #3168B0;
    padding: 10px 15px;
}


/* ------------------------INTRO DO SITE-------------------------------------------- */

.bg-top-container{
    background:blue;
    background-attachment: fixed;
} 


/* nome-site */
.site-name{
    color:white;
    font-size:3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* sobre */

.container-about{
    border-top:2px solid #b6b6b6;
    border-bottom:2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
}

.item-about-info{
    flex:2 1 300px;
    margin:0 10px;
    align-content: center;
    flex: 2 1 300px;
    margin: 0 10px;
    align-content: center;
    flex-grow: 1;
}

.item-about-info h1{
    font-size:3em;
    line-height: 1;
    color: white;
    padding-bottom: .5em;
}

.item-about-info p{
    font-size:1em;
    line-height: 1.5;
    color:white;
}

.item-img-about{
    flex: 2 1 160px;
}

/* ------------------------LOCALIZAR POKEMON------------------------------------------- */

.middle-bg{
    padding-bottom: 4em;
}

.search-pokemon{
    font-size:3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 28px;
    padding-left: 10px;

}

.container-search{
    background-image: url("../img/bg-top.jpg");
    max-width: 960px;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 1em;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.item-instruction-search{
    background:rgb(75, 75, 75);
    margin: 0 10px;
    align-content: center;
    padding:1em;
    color:white;
    flex: 2 1 300px;
    flex-grow: 1;
}

#txtBusca{
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 0.5em;
}

#btn-search-pokemon{
    flex:1;
    margin-left: 1em;
    margin-top: 1em;
    cursor: pointer;
    background-color: blue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 1em;
    font-family: Exo, sans-serif;
    font-size: 1em;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}

#btn-search-pokemon:hover{
    background-color: rgb(135, 135, 231);
    scale: .5px;
}

#item-card-one{
    text-align: center;
    background-image: linear-gradient(#358AFA, white);
    width: 17em;
    height: 26em;
    margin: 17px;
    border: solid 6px  rgb(212, 212, 14);
}

#item-card1 h1{
    color: rgb(34, 34, 34);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#item-card1 p{
    text-align: center;
    font-weight: 300;
    font-size: 11pt;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(34, 34, 34);
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
}

#item-card1 img{
    align-self: center;
    display: inline;
}

/* -----------    CONTAINER INSTRUÇÕES MOSTRAR TODOS OS POKEMONS ------------------ */


.container-filter{
    border-top: 2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding: 60px 0px 36px 0px;
}



.item-filter h1{
    font-size: 1em;
    max-width: 960px;
    padding-left: 45px;
    margin-right: 10px;
    margin-bottom: 21px;
}

#item-btn-generation-pokemon{
    flex:3;
}

#btn-generation-pokemon{
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    box-sizing: border-box;
    background-color: blue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 12px;
    font-family: Exo, sans-serif;
    font-size: 13pt;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}

#btn-filter-type{
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    box-sizing: border-box;
    background-color: blue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 12px;
    font-family: Exo, sans-serif;
    font-size: 13pt;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}
#btn-filter-type:hover{
    background-color: rgb(135, 135, 231);
    scale: .5px;
}

/* ----------------------------CONTAINER DE ORDENAR------------------------------- */


.container-sort{
    
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
}

.item-sort h1{
    font-size: 2em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    margin-right: 10px;
}

#btn-cresc-pokemon{
    cursor: pointer;
    margin-left: 19px;
    margin-right: 0;
    margin-top: 0.3em;
    box-sizing: border-box;
    background-color: blue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 9px;
    font-family: Exo, sans-serif;
    font-size: 9pt;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}


#btn-cresc-pokemon:hover{
    background-color: rgb(135, 135, 231);
    scale: .5px;
}

#btn-decresc-pokemon{
    cursor: pointer;
    margin-left: 19px;
    margin-right: 0;
    margin-top: 0.3em;
    box-sizing: border-box;
    background-color: blue;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 9px;
    font-family: Exo, sans-serif;
    font-size: 9pt;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}

#btn-decresc-pokemon:hover{
    background-color: rgb(135, 135, 231);
    scale: .5px;
}


/* --------------------------------CONTAINER ONDE SÃO MOSTRADOS TODOS OS CARDS------------ */

.container-show-all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: gray;
    border-top:2px solid #b6b6b6;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0;
    height: 22em;
    overflow-x: hidden; 
    overflow-y: scroll; 

}

.mostrar{
    text-align: center;
    background-image: linear-gradient(#358AFA, white);
    width: 17em;
    height: 26em;
    margin: 17px;
    border: solid 6px rgb(212, 212, 14);


}

.mostrar h1{
    color: rgb(34, 34, 34);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mostrar p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:10px;
    font-weight: 300;
    text-align: center;
    font-size: 11pt;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(34, 34, 34);
    margin-left: auto;
    margin-right: auto;
}

.mostrar img{
    align-self: center;
    display: inline;
}

#item-all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* -------------------------------------FOOTER---------------------------------------------------- */

footer{
    margin-top: 4em;
    padding: 33px;
    text-align: center;
    background: #2e2e2e;
}


footer p{
    color:white;
}