@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

header#header{
    background-color: #A8A7DD;
    padding: 45px;
    margin-top:-9px;
    margin-left:-12px;
    margin-right: -12px;
}

header#header img#icon{
    position: absolute;
    left: 21px;
    top: 13.5px;
    max-width: 158px;
    max-height: 150px;
    width: auto;
    height: auto;
}

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 17px;
    left: 940px;
}

nav#menu li{
    font-family: 'Nunito', sans-serif;
    font-size: 15pt;
    display: inline-block;
    padding: 10px;
    margin: 2px;  
}

nav#menu a {
    color: #545454;
    text-decoration: none;
}

