* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
}

body{
    background-image: url(../img/floresta.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: inherit;
    overflow: auto;
    font-family: arial, helvetica, sans-serif;
    /*! font-size: 20px; */
}

.container {
    color: black;
    padding: 2%;
}

.navMenu {
    background-color: rgba(203, 228, 231, 0.616);
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 

.buttonMenu{
    margin:auto;
    width: 50%;
}

.buttonMenu ul {
    display: flex;
    list-style: none;
}

.buttonMenu li {
    margin-right: 3.5%;
    padding-right: 1.5%;
    font-size: 20px;
    width: auto;
    font-weight: bold;
    border-right:yellow solid 2px;
}

.buttonMenu li:last-child {
    border-right: 0px;
}

a{ text-decoration:none;
    color: black;
}
.imagemJohto{
    width: 100%;
    height: 100%;
}

.imagemKanto{
    width: 100%;
    height: 100%;    
}

.name-app{
    font-family: inherit 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0.1em 0.1em 0.2em yellow;
    font-size: 25px;
    margin-left: 3%;
}
.img-poke-lovers{
    background-image: transparent;
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.menu {
    list-style: none;
    background-color: rgba(203, 228, 231, 0.616);
    padding: 13px;
    display:flex;
    justify-content: space-around;
    width: 70%;
    margin:auto;
    align-items: center;
    border-radius: 9px;
}

.inputPokemon {
    display: flex;
    align-items: center;
    width: 40%;
}

.inputPokemon input{
    width: 90%;
}

.buttonPoke {
    background: transparent;
    border: 0px;
}

.imgPoke {
    height: 20px;
    width: 20px;
}

.flip-card {
    background-color: transparent;
    border: transparent;
    width: 200px;
    height: 280px;
    perspective: 1000px;
    display: inline-block;
}

.flip-card:hover .card1 {
    transform: rotateY(180deg);
}

.card1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
    color: yellow;
}

.flip-card-back {
    background-color: yellow;
    color: black;
    transform: rotateY(180deg);
}

#container-card-poke {
    text-align: center;
    margin: 2% 3%;
    opacity: 0, 8;
}

li {
    list-style-type: none;
}

.card-info-poke{
    margin-top: 9%;
}
.resumo-texto{
    margin-top: 35%;
    font-family: sans-serif;
    font-size: 15px;
    line-height:200%;
}

.flip-car {
    background-color: transparent;
    /* perspective: 1000px; */ 
    display: flex;
}

.flip-card2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-car .flip-card2:hover {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container-maps{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.container-calculadora{
    width: 60%;
    margin: auto;
    border-radius: 20px;
    background-color: slategrey;
    padding: 20px;
    text-align: center;
    margin-top: 6%;
}

.box{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.box button {
    width: 60%;
    margin-top: 3%;
    margin: auto;
}

.box-calculo{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 3% auto 3% auto;
    flex-wrap: wrap;
}

.titulos{
    justify-content: space-between;
}
.input-calculadora {
    font-size: 16px;
    width: 200px;
    height: 15px;
}

#botao-reset{
    background-color:slategray;
    border-radius: 5px;
    font-size: 16px;
    width: 180px;
    height: 40px;
    margin-top: 5%;
}

.imgResumo{
    width: 100%; 
    height: 100%;
}

.flip-carr {
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px;
    margin: auto
}
.flip-carr:hover .flip-card2 {
    transform: rotateY(180deg);
}

@media(max-width:1088px) {
    
    .buttonMenu li {
        margin-right: 5%;
        font-size: 17px;
    }
}

@media(max-width:832px) {
    
    .buttonMenu li {
        margin-right: 3%;
        font-size: 14px;
    }

    .mapaCard{
        margin-bottom: 10%;
    }
}

@media(max-width:644px) {
    
    .name-app{
        display: none;
    }
    
    .buttonMenu {
        width: 70%;
    }

    .flip-carr {
        width: 400px;
        height: 400px;
    }
}

@media(max-width:647px) {
    .buttonMenu li {
        margin-right: 2%;
        font-size: 12px;
    }
    
    .menu {
        flex-wrap: wrap;
    }
}