* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@media screen and (max-width: 415px) {
  .calculation {
    height: 8vh;
    width: 80vw;
    margin-top: 12em;
    margin-left: 3em;
    margin-right: 2em;
    font-size: 13px;
  }
  .personagem img {
    width: 12em;
  }

  .frente {
    width: 90vw;
    height: 62vh;
    margin-top: 7em;
  }
  .filter-gender {
    height: 5vh;
    width: 30vw;
    margin-top: 3em;
  }
  .filter-status {
    height: 5vh;
    width: 30vw;
    margin-left: 1em;
  }
  .filter-order {
    height: 5vh;
    width: 30vw;
    margin-left: 10em;
  }
  .filter-species {
    height: 5vh;
    width: 30vw;
    margin-top: 3em;
    margin-left: 10em;
  }
}
@media (min-width: 740px) and (max-width: 570px) {
  .frente {
    width: 42vw;
    height: 65vh;
    margin-top: 10em;
  }
}
@media (min-width: 752px) and (max-width: 1100px) {
  .frente {
    width: 42vw;
    height: 65vh;
    margin-top: 10em;
  }
  .filter-order {
    width: 8em;
  }
  .filter-gender {
    width: 8em;
  }
  .filter-status {
    width: 8em;
  }
  .filter-species {
    width: 8em;
  }

  .personagem img {
    width: 16em;
  }

  .calculation {
    margin-top: 8em;
    font-size: 23px;
  }
}

@media (min-width: 540px) and (max-width: 730px) {
  .frente {
    width: 58vw;
    margin-top: 10em;
  }
  .filter-gender {
    width: 19vw;
  }
  .filter-status {
    width: 19vw;
  }
  .filter-species {
    width: 19vw;
  }
  .filter-order {
    width: 20vw;
    margin-top: 9em;
    margin-left: 1em;
  }
  .calculation {
    margin-top: 11em;
  }
}
@media (min-width: 425px) and (max-width: 570px) {
  .frente {
    width: 58vw;
    height: 65vh;
    margin-top: 10em;
  }
  .calculation {
    margin-top: 9em;
  }
  .filter-order {
    width: 26vw;
    margin-top: 8em;
    margin-left: 1em;
  }
  .filter-gender {
    width: 26vw;
  }
  .filter-species {
    width: 26vw;
    margin-left: 10em;
    margin-top: 8em;
  }
  .filter-status {
    width: 26vw;
    margin-left: 10em;
  }
}
@media (min-width: 411px) and (max-width: 823px) {
  .frente {
    height: 53vh;
  }
  .personagem img {
    width: 15em;
  }
}
@media (min-width: 375px) and (max-width: 812px) {
  .frente {
    height: 48vh;
  }
  .personagem img {
    width: 15em;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .frente {
    height: 45vh;
  }
  .personagem img {
    width: 12em;
  }
  .filter-status {
    margin-left: 11em;
  }
  .filter-species {
    margin-left: 11em;
  }
}
@media (min-width: 411px) and (max-width: 731px) {
  .frente {
    height: 50vh;
  }
  .personagem img {
    width: 14em;
  }
}
@media (min-width: 375px) and (max-width: 667px) {
  .frente {
    height: 55vh;
  }
  .personagem img {
    width: 12em;
  }
}
@media (min-width: 280px) and (max-width: 653px) {
  .filter-species {
    margin-top: 4em;
  }
  .filter-gender {
    margin-top: 4em;
  }
  .filter-status {
    margin-top: 7em;
  }
  .filter-order {
    margin-top: 7em;
  }
}
@media (min-width: 375px) and (max-width: 570px) {
  .frente {
    height: 58vh;
  }
}
@media (min-width: 425px) and (max-width: 570px) {
  .frente {
    height: 60vh;
  }
}
@media (min-width: 570px) and (max-width: 768px) {
  .frente {
    height: 70vh;
  }
}
@media (min-width: 422px) and (max-width: 670px) {
  .frente {
    height: 60vh;
    width: 60vw;
    margin-top: 9em;
  }
  .filter-species {
    margin-top: 4em;
    margin-left: 11em;
    width: 20vw;
  }
  .filter-gender {
    margin-top: 4em;
    width: 20vw;
  }
  .filter-status {
    margin-top: 7em;
    width: 20vw;
  }
  .filter-order {
    margin-top: 7em;
    margin-left: 1em;
    width: 20vw;
  }
  .calculo {
    margin-left: 1em;
    width: 80vw;
  }
}
@media (min-width: 418px) and (max-width: 570px) {
  .frente {
    height: 60vh;
    width: 60vw;
    margin-top: 9em;
  }
  .filter-species {
    margin-top: 4em;
    margin-left: 10em;
    width: 20vw;
  }
  .filter-gender {
    margin-top: 4em;
    width: 20vw;
  }
  .filter-status {
    margin-top: 7em;
    width: 20vw;
  }
  .filter-order {
    margin-top: 7em;
    margin-left: 1em;
    width: 20vw;
  }
  .calculo {
    margin-left: 1em;
    width: 80vw;
  }
}
