* {
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}



.body{    
    background-image:/*linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)),*/ url('img/background-noite.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 

   
}  
.logo{
    width: 350px;
    height: 350px;
    position: absolute;
    margin-left: 30%;
}

.imgPokemon{
    width: 550px;
    height: 180px;
}
#btn{
    width: 57px;
    
}
#btn:hover{
    cursor: pointer;
}
#btnAll{
    background-color:#FFDF00;
    font-weight: bold;
    
}

#btnAll:hover{
    cursor: pointer;
    background-color:#E7E84C;

}
.allPokemons{
    width:70px
}


#check{
    display: none;
} 

#icone{
    cursor: pointer;
    padding: 15px;   
   
}

.barra-menu{
    background-color: transparent;
    height: 50%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -202px;
    padding-top: 10px;
    border-radius:0 10px 10px 0;
    border: 1px solid white;
}

 select{
     width: 200px;     
     margin-top: 10px; 
     padding: 10px;
     border: none; 
     background-color: #D6D6D6;

 }
 select:hover{
     background-color: #F5F2EB;
     transition: all .3s;
 }
 label{
     color: white;
     margin-left: 5px;
     margin-top: 5px;
     font-family: Arial, sans-serif;
     font-size: 15px;
 }
    
.imgMenu{
    width: 50px;
    height: 50px;
    margin-top:50px
}

#check:checked ~.barra-menu{
transform: translateX(202px);
}

.search{
    display:flex;
    flex-direction: row;    
    border: 1px solid;
    background-color: white;
    width:287.8px; 
    margin-left: 80%; 
    margin-top:4%;
    border-radius: 2px;
    flex-wrap: wrap;
   


}
.search img{
    width: 20px;
    
     
}


.cards{
    display:flex;
    justify-content: row;
    flex-wrap: wrap;
    margin-top:70px;
}


.textNotFound{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px; 
    display: block;   
    font-weight: bold;
    color: white;
    
 
}

.imageNotFound{
    margin-left: 18%;
    width: 550px;
    height: 400px;
    border: 4px solid;
    border-radius: 30%;

}

.cards{
    margin-left: 16.5%;
}
 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 280px;
    perspective: 1000px;
    margin-right: 5%;
    margin-bottom: 2%; 
   
}

.flip-card-inner p{  
    
    display: flex;
    flex-direction: column;
    

}
.flip-card-inner img{
    height: 200px;
    margin-top: 10%;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 9%;
    border: 2px solid white;
}

.flip-card-front {
    background-color: #D6D6D6;
    color: black;
    
}

.flip-card-back {
    background-color: #021032;
    color: white;
    transform: rotateY(180deg);
}

.namePokemon{
 color: #000000;
 font-size: 20px;
 font-family: sans-serif;
 font-weight: bold;
 margin-top: 5%;
 
}
.namePokemon img{
    background-color: #82B8D9;
    /* #7B84DB */
    height: 150px;
    width: 150px;
    margin-left: 25px;
    border-radius: 50%;
    
}
.messageType{
    color: white;    
    width: 900px;
    height: 25px;
    margin-top: 100px;
    margin-left: 23%;
    align-items: center;
    font-size: 30px;
    border-radius:6px;
    font-weight: bold;
    

}
.messageType p {
    margin-left: 3%;
}