* {
    padding: 0px;
    margin: 0px;
}

.body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #c2daf891;
}


/* Animação icone menu lateral */

.chk {
    display: none;
}

.chk:checked~nav {
    transform: translateX(349px);
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #003A70;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 8px;
}

label span:nth-child(2) {
    top: 16px;
}

label span:nth-child(3) {
    top: 24px;
}

.chk:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 16px;
}

.chk:checked+label span:nth-child(2) {
    opacity: 0;
}

.chk:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 16px;
}

.label-aside-menu {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.aside-menu {
    background-color: #769dcc93;
    width: 200px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.head-menu-list {
    display: block;
    padding: 20px 5px;
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 35px;
    width: 95%;
    font-size: 15px;
}

.menu-list:hover {
    background-color: #94C5FF;
    color: black;
}

.menu-list-link {
    display: block;
    padding: 20px 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-title {
    margin-bottom: 1%;
    margin-left: 33.3%;
    margin-right: 33.3%;
    height: 350px;
    background-repeat: no-repeat;
    width: auto;
}

.logo {
    padding: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}


/* Menu principal */

.select-itens {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    font-weight: bold;
    background-color: rgb(243, 231, 185);
    padding: 0.5em;
}

.input-search {
    outline: transparent;
    margin-left: 50px;
    border-radius: 10px;
    width: 350px;
    padding: .5em;
    background-color: rgba(224, 205, 128, 0.932);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 2px solid rgb(252, 204, 11);
}

.select-filter {
    outline: transparent;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(224, 205, 128, 0.932);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 2px solid rgb(252, 204, 11);
}

.select-sort {
    outline: transparent;
    padding: .5em;
    border-radius: 10px;
    background-color: rgba(224, 205, 128, 0.932);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 2px solid rgb(252, 204, 11);
}

.btn-clean {
    outline: transparent;
    background-color: rgba(250, 224, 119, 0.932);
    color: black;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    padding: .3em;
    border: 2px solid rgb(252, 204, 11);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* Tratamento dos cards*/

.img {
    filter: drop-shadow(0 0 0.15rem gray);
}

.space {
    max-width: 100%;
    height: 50px;
}

.main-cards {
    margin-left: 13%;
    display: inline-block;
    justify-content: space-between;
    width: 80%;
    font-size: 15px;
    background-color: transparent;
}

.left {
    float: left;
    margin-left: 0 auto;
}

.frame {
    position: relative;
    width: 260px;
    height: 295px;
    transition: transform 0.6s;
    cursor: pointer;
    transform-style: preserve-3d;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.frame:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: relative;
    width: 260px;
    height: 295px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    position: absolute;
    background-color: #faefbd3a;
    width: 260px;
    height: 295px;
    text-align: center;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.card-back {
    position: absolute;
    width: 260px;
    height: 295px;
    background-color: #6198db;
    color: black;
    transform: rotateY(180deg);
    font-size: 15px;
    text-align: justify;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* tratamento do footer */

.footer {
    background-color: rgb(39, 126, 167);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.link-footer {
    color: white;
}