* {
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}

.body{    
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45)), url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 

   
}
.img{
    width: 30%;
    margin-left: auto; 
    margin-right: auto; 
    margin-left: 20%;
   
    
}
.imgMenu{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-left: 2%;
    border: 2px solid #000000;
    border-radius: 10%;
}
.imgHigher{
    width: 20%;
    height: 20%;
    margin: auto; 
    
}

.logo{
     display: flex;
     justify-content: space-between; 
     margin:auto;
     attachment: fixed;

}


