* {
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
   
}



.body{    
    background-image: url('img/background-noite.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 

   
}  
.logo{
    width: 550px; 
    height: 300px;
    position: absolute;
    margin-left: 34%;
}

.imgPokemon{
    width: 500px;
    height: 150px;
}
#btn{
    width: 57px;
}

#btn:hover{
    cursor: pointer;
}
#btnAll{
    background-color:#FFDF00;
    font-weight: bold;
   
    
}

#btnAll:hover{
    cursor: pointer;
    background-color:#E7E84C;

}

.allPokemons{
    width:70px
}


#check{
    display: none;
} 

#icone{
    cursor: pointer;
    padding: 15px;   
   
}

.barra-menu{
    background-color: #82B8D9;
    width:970px;
    height: 80px;
    left: -973px;
    display: flex;
    justify-content: space-between;
     position: absolute; 
    transition: all .2s linear;    
    padding-top: 10px;
    border-radius:0 10px 10px 0;
    border: 1px solid white;
    z-index: 2;
}

#check:checked ~.barra-menu{
    transform: translateX(973px);
    }
    

 select{
     display:flex;
     justify-content:row;
     margin-left:10px;
     width: 170px;  
     margin-top: 10px; 
     padding: 10px;
     border: none; 
     background-color: #D6D6D6;

 }
 select:hover{
     background-color: #F5F2EB;
     transition: all .3s;
 }
 label{
     color: white;
     margin-left: 5px;
     margin-top: 5px;
     font-family: Arial, sans-serif;
     font-size: 15px;
 }
    
.imgMenu{
    width: 50px;
    height: 50px;
    margin-top:110px
}


.search{
    display:flex;
    flex-direction: row;  
    width:282px;
    margin: 100px 2% 0 75%;
    /* margin-left: 70%; 
    margin-top:4%;   */
    border: 1px solid;
    background-color: white;    
    border-radius: 2px;

}

.search img{
    width: 20px;     
}

.textNotFound{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    color: white;
   
}

.imageNotFound{  
   margin-left: 13%;
    width: 550px;
    height: 400px;
    border: 4px solid;
    border-radius: 30%;

}

.cards{
    display:flex;
    justify-content: center;   
    flex-wrap: wrap;
    margin-top:30px;
    height: 100%;
    
   
    
}
 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 280px;
    perspective: 1000px;
    margin: 0 25px 2% 25px;
    
   
}

.flip-card-inner p{  
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}
.flip-card-inner img{
    height: 200px;
    margin-top: 10%;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;    
    
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 9%;
    border: 2px solid white;
    filter: drop-shadow(0 0 0.45rem rgb(210, 233, 10));
}

.flip-card-front {
    background-color: #D6D6D6;
    color: black;
    font-family: sans-serif;
    
}

.flip-card-back {
    background-color: #021032;
    color: white;
    transform: rotateY(180deg);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 40px;
   
}

.namePokemon{
 color: #000000;
 font-size: 20px;
 font-family: sans-serif;
 font-weight: bold;
 margin-top: 5%;
 
}
.namePokemon img{
    background-color: #82B8D9;
    height: 150px;
    width: 150px;
    margin-left: 25px;
    border-radius: 50%;
    
}

.messageType{
    color: white;    
    width: 900px;
    height: 25px;
    margin: 100px auto 0;
    align-items: center;
    font-size: 30px;
    border-radius:6px;
    font-weight: bold;
}

.footer{
    height: 50px;
    background-color: #82B8D9;
    text-align: center;
    margin-bottom: 1px;
}

.footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@media(min-width:320px) and (max-width:500px){
    .barra-menu{ 
        display:flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;     
        width:310px;
        height: 125px;
        left: -350px;
        
       
    }
    #check:checked ~.barra-menu{
        transform: translateX(350px);
    }

    
    select{       
        margin-left:1px;
        width: 100px;  
        margin-top: 5px; 
        /* padding: 10px; */
        border: none; 
        background-color: #D6D6D6;
        font-size: 12px;

    }
    .messageType{
        width: 320px;
        margin-bottom:10% !important;
        font-size: 20px;
      }
      .logo{
        width: 100px;
    }
    .imgPokemon{
        margin:0 0 0 -52% !important;
        width: 230px;
        height: 90px;
    }  
    .search{        
         margin: 5% 15% 5% 15% !important;      
    }

    .textNotFound{
        font-size: 17px;    
    }
    .imageNotFound{        
        width: 240px;
        height: 300px; 
        margin-left: 12%;    
    }
    .flip-card{
        margin-bottom: 10%;
    }
}

@media(min-width:500px) and (max-width:800px){
    .search{        
        margin: 20px 1% 2% 2%;     
    }
    .logo{
        width: 330px;
    }
    .imgPokemon{
        margin:0 0 0 -23%;
        width: 370px;
    }  
    .textNotFound{
        font-size: 25px;    
    }
    .imageNotFound{        
        width: 360px;
        height: 400px;     
    }

    .barra-menu{
        background-color: #82B8D9;
        width:490px;
        height: 80px;
        left: -800px;
        display: flex;
        justify-content: space-between;
         position: absolute; 
        transition: all .2s linear;    
        padding-top: 10px;
        border-radius:0 10px 10px 0;
        border: 1px solid white;
        z-index: 2;
    }
    #check:checked ~.barra-menu{
        transform: translateX(800px);
    }

    
    select{       
        margin-left:1px;
        width: 90px;  
        margin-top: 10px; 
        padding: 10px;
        border: none; 
        background-color: #D6D6D6;
        font-size: 17px;

    }
    label{
        font-size: 20px;
        
    }    
    
    .messageType{
        width: 498px;
        margin-bottom:10% !important;
      }

 }

@media(min-width: 800px) and (max-width:1000px){
    .logo{
        width: 500px;
    }
    .search{        
        margin: 50px 2% 0 65%;     
    }
    .imgPokemon{
        margin:0 0 0 -15%;
    }    
    
    .imageNotFound{
        margin: 0 0 0 15%;
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 280px;
        perspective: 1000px;
        margin: 0 10px 2% 10px;
       
    }
    .barra-menu{
        background-color: #82B8D9;
        width:790px !important;
        height: 80px;
        left: -900px;
        display: flex;
        justify-content: space-between;
         position: absolute; 
        transition: all .2s linear;    
        padding-top: 10px;
        border-radius:0 10px 10px 0;
        border: 1px solid white;
        z-index: 2;
    }
    #check:checked ~.barra-menu{
        transform: translateX(900px);
    }

    
    select{       
        margin-left:1px;
        width: 150px;  
        margin-top: 10px; 
        padding: 10px;
        border: none; 
        background-color: #D6D6D6;

    }
    .messageType{
        width: 690px;
        margin-bottom: 6% !important;
      }


}
@media(min-width:1000px) and (max-width:1300px){

    .search{
        margin-left: 70%;
    }

    .imgPokemon{
        margin-left: -20%;
    }


}

 
    


