*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
}
header{
    height: 18vh;
    background: #98D7D7;
}
#logo{
    mix-blend-mode: color-dodge;
    display: flex;
    align-items: center;
    margin-left: 2vh;
    resize: 50%;
    padding: 3vh;
}
.filters{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3vh;
    padding-bottom: 1vh;
    background: #EEF3F3;
}
.select{
    display: flex;
    width: 135px;
    height: 35px;
    background: #8DC761;
    border: 2px solid #8B9A88;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(204, 204, 204, 0.76);
    border-radius: 50px;
    font-size: 18px;
    font-weight: normal;
    color: #EEF3F3;
    text-align: center;
    justify-content: center;
    align-content: center;
}
label{
    font-size: 18px;
    font-weight: normal;
    color: #EEF3F3;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.results{
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: greenyellow;
}
.cardArea{
    background: #EEF3F3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
.card{
    width: 279px;
    height: 330px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    transition: transform 0.8s;
    transform-style: preserve-3d
}
.testing:hover .card{
    transform: rotateY(180deg);
}
.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cardFront{
    padding: 4vh;
    border-radius: 35px;
    background: #304B72;
    box-shadow: 12px 5px 10px rgba(48, 75, 114, 0.39);
}
.cardBack{
    padding: 4vh;
    border-radius: 35px;
    background: #304B72;
    box-shadow: 12px 5px 10px rgba(48, 75, 114, 0.39);
    transform: rotateY(180deg);
}
.image{
    width: 222px;
    height: 190px;
    border-radius: 25px;
    box-shadow: 15px 4px 4px rgba(0, 0, 0, 0.50) inset;
    background-size: 222px 190px;
}
.text{
    padding-top: 1.25vh;
    text-align: center;
    text-justify: center;
    line-height: 12px;
}
.textBack{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    text-justify: center;
    line-height: 10px;
    background-color:rgba(238, 243, 243, 0.1);
    border-radius: 35px;
}     
.name{
    font-size: 16px;
    font-weight: 500;
    color: #FAF074;
    padding-bottom: 1.2vh;
}
.subtitle{
    font-size: 12px;
    font-weight: lighter;
    color: #EEF3F3;
    padding-bottom: 1vh;
}
.data{
    font-size: 15px;
    font-weight: normal;
    color: #EEF3F3;
}
footer{
    height: 8vh;
    padding: 2vh;
    background: #98D7D7;
    color: #304B72;
    font-size: 18px;
    text-align: center;
    bottom: 0;
}
a{
    color: #304B72;
}