html{
  background-image: url(555.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

#root{
  color:#f2f5f1;
  text-shadow: #03eaac 5px 5px 25px;

  text-align: center;
  font-size: 200px;
  'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  margin: 0px;
  padding: 20px 20px 0px;
}

#subtitle, #nav{
  color: #fbfcfd;
  text-shadow: #03eaac 0px 1px 10px;
  background-color: black;
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  letter-spacing: 10px;
  margin: 0px;
  padding:20px;
  opacity: 0.9;
}


nav, button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*
#inputs{
  width: 50%;
} */

input, select, button{
  background-color: black;
  color: rgb(250, 250, 250);
  border-style:groove;
  border-radius: 50px;
  font-family: arial;
  font-size: 15px;
  width: 20%;
  padding:10px 10px;
  text-align: center;
  border: 2px solid #03f7ae;
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 green;
  /* opacity: 0.6;
  transition: 0.3s;
  cursor: pointer; */

}

::placeholder{color:white;}

datalist{display: none;}

section{
  display:flex;
  justify-content:center;
  padding: 35px 120px;

}

.titulo{
  font-family: arial;
  font-size: 20px;
  color: #03eaac;
}

.texto-card{
  font-family: arial;
  font-size: 18px;
  padding: 2px 3px;
  margin: 3px;
}


article{
  background-color:#1919189e;
  color: #fff2f2;
  text-align: center;
  border-style:groove;
  font-family: arial;
  font-size: 12px;
  width: 35%;
  height: 20%;
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: center;
  flex-direction:column;
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 #00ff1ef2;
  cursor: pointer;

}



#sara, #juliane{display:inline;}

a{
  color: rgb(0, 181, 247);
  text-decoration: none;
}

a:link{
  text-decoration: underline;
}

.footer{
  color: white;
  background-color: #000000;
  border-style: groove;
  border-color: rgb(89, 85, 85);
  padding: 2px 2px;
  display: block;
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  letter-spacing: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
