* {
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}



.body{    
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)), url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 

   
}  
.logo{
    width: 350px;
    height: 350px;
    position: absolute;
    margin-left: 25%;
}

.imgPokemon{
    width: 700px;
    height: 180px;
}


#check{
    display: none;
} 

#icone{
    cursor: pointer;
    padding: 15px;   
   
}

.barra-menu{
    background-color: #000000;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -200px;
    padding-top: 10px;
    border-radius:0 10px 10px 0;
}

 select{
     width: 200px;     
     margin-top: 10px; 
     padding: 10px;
     border: none; 
     background-color: cadetblue;

 }
 select:hover{
     background-color: white;
     transition: all .3s;
 }
 label{
     color:wheat;
     margin-left: 5px;
     margin-top: 5px;
 }
    
.imgMenu{
    width: 50px;
    height: 50px;
    margin-top:50px
}

#check:checked ~.barra-menu{
transform: translateX(200px);
}

.search{
    display:flex;    
    border: 1px solid;
    background-color: white;
    width:150px;
    margin-left: 80%;
    margin-top:4%;


}
input:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search input{
    padding: 2px;
    border:none;
    width: 90px;
}
.search img{
    width: 20px;
    height: 20px;
    width: 80px;
}


.cards{
    display:flex;
    justify-content: row;
    flex-wrap: wrap;
    margin-top:110px;
}



