* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  color: white;
  font-weight: bolder;
  font-size: 25px;
}
.menu {
  background-color: #ad42fc;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 4%;
  opacity: 80%;
  float: left;
}

.filter-order {
  position: absolute;
  height: 5vh;
  width: 11vw;
  margin-bottom: 34em;
  margin-top: 6em;
  margin-left: 31em;
  display: flex;
  margin-right: 47em;
  outline: none;
  box-shadow: 10px 5px 5px #4b0082;
  font-weight: bolder;
}

.filter-species {
  position: absolute;
  height: 5vh;
  width: 11vw;
  margin-bottom: 34em;
  margin-top: 6em;
  margin-left: 21em;
  display: flex;
  margin-right: 56em;
  outline: none;
  box-shadow: 10px 5px 5px #4b0082;
  font-weight: bolder;
}

.filter-status {
  position: absolute;
  height: 5vh;
  width: 11vw;
  margin-bottom: 34em;
  margin-left: 11em;
  margin-top: 6em;
  display: flex;
  margin-right: 65em;
  outline: none;
  box-shadow: 10px 5px 5px #4b0082;
  font-weight: bolder;
}

.filter-gender {
  position: absolute;
  height: 5vh;
  width: 11vw;
  margin-bottom: 34em;
  display: flex;
  margin-right: 74em;
  margin-left: 1em;
  margin-top: 6em;
  outline: none;
  box-shadow: 10px 5px 5px #4b0082;
  font-weight: bolder;
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 15px;
  }
}

.rodape {
  background-color: #e0c3f5;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  display: flex;
  height: 30px;
  text-align: right;
  position: relative;
}
.rodape a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  color: white;
  font-weight: lighter;
  font-size: 18px;
  justify-content: center;
}

.rodape img {
  width: 5%;
  height: 5%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline;
  justify-content: center;
  margin-top: 4px;
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 15px;
  }
}

li {
  display: inline-block;
  margin: 0 15px;
}

.hero {
  display: flex;
  background-image: url("img/teste2.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  justify-content: space-evenly;
  justify-self: center;
  align-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
.frente {
  background-image: linear-gradient(to bottom, rgb(139, 57, 139), #4b0082);
  height: 60vh;
  width: 23vw;
  margin: 1em;
  margin-top: 5em;
  padding: 1em;
  flex: 0 1 25%;
  perspective: 1000px;
  float: left;
  border: 2px inset;
  border-radius: 2%;
}

@media (max-width: 700px) {
  .personagem img {
    margin-bottom: 16px;
  }
}

.personagem img {
  width: 13em;
}
.calculation {
  position: absolute;
  height: 30vh;
  width: 80vw;
  margin-bottom: 45em;
  margin-right: 15em;
  margin-top: 8em;
  margin-left: 5em;
  display: flex;
  font-weight: bolder;
  font-size: large;
  font-family: cursive;
}
